@import "mixins";

.auth {
  width: 80%;
  display: block;
  text-align: center;
  margin: 40px auto 0;
  padding: 80px 0;
  button {
    cursor: pointer;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 3px;
    padding: 8px 16px;
    display: block;
    margin-bottom: 24px;
    @include pc {
      padding: 16px 24px;
    }
  }
  span {
    padding-left: 16px;
    font-size: 16px;
  }
  i {
    font-size: 24px;
  }
  &__google {
    background-color: #fff;
    border: 1px solid #757575;
    color: #757575;
  }
  &__facebook {
    background-color: #4267b2;
  }
  &__twitter {
    background-color: rgba(29, 161, 242, 1);
  }
  &__github {
    background-color: #24292e;
  }
  &__facebook,
  &__twitter,
  &__github {
    color: #fff;
    border: none;
  }
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 24px;
    }
  }
  &__user {
    img {
      width: 50px;
    }
    p {
      font-size: 16px;
    }
  }
}

.start-btn {
  text-align: center;
  margin: 40px 0;
  button {
    padding: 8px 32px;
  }
}
