<form action="" class="auth">
  <button class="auth__google">
    <i class="fab fa-google"></i>
    <span>Googleログイン</span>
  </button>
  <button class="auth__facebook">
    <i class="fab fa-facebook-f"></i>
    <span>Facebookログイン</span>
  </button>
  <button class="auth__twitter">
    <i class="fab fa-twitter"></i>
    <span>Twitterログイン</span>
  </button>
  <button class="auth__github">
    <i class="fab fa-github"></i>
    <span>Githubログイン</span>
  </button>
</form>
<div class="start-btn">
  <button mat-raised-button color="primary">始める</button>
</div>
<router-outlet></router-outlet>
